html{
  box-sizing: border-box;
}

*, *::before, *::after{
  box-sizing: inherit;
}
h1{
  font-family: 'Libre Baskerville', serif;
  letter-spacing: 40px;
  font-size: 64px;
}

@media (max-width: 650px) {
  h1 {
    letter-spacing: 0;
  }
}

h2{
  font-family: 'Libre Baskerville', serif;
}
p{
  font-family: 'Cutive Mono', monospace;
}
a{
  direction: none;
  text-decoration: none;
  color: #000;
}
.wrapper{
  max-width: 1260px;
  margin: 0 auto;
  
}
.header{
  padding: 20px 20px 20px 20px;
  max-width: 1260px;
  height: 153px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
.data-header{
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.ch{
  max-width: 1220px;
  height: 1px;
  background: #000;
  margin-bottom: 20px;
}

/*start main */

.titel{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.img{
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titel-img{
  width: 400px;
  height: 300px;
}
.main-news-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.item-news{
  width: 600px;
  margin-left: 30px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
}
.news-container{
  margin-bottom: 25px;
  line-height: 30px;
}

/* start page.html style*/

.p2{
  max-width: 500px;
  font-size: 20px;
}
.p3{
  font-family: 'Cutive Mono', monospace;
  font-size: 20px;
}
.article{
  padding-top: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  line-height: 30px;
}
.container-titel-article{
  width: 1200px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 25px;
}
.titel-article{  
  font-size: 34px;  
}